@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .option-text {
    @apply text-gray-600 font-bold text-lg;
  }

  .btn-icon {
    @apply cursor-pointer h-8 w-8 m-2;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #7c7b7b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
